rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function normalizedEmail() {
      return request.auth.token.email.lower();
    }

    function isAllowedUser() {
      return request.auth != null
        && request.auth.token.email != null
        && normalizedEmail() in [
          'ranyakar@gmail.com',
          'rcchaifa@gmail.com'
        ];
    }

    match /{document=**} {
      allow read, write: if isAllowedUser();
    }
  }
}
